*
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: linear-gradient((black),(black)),url(image/background-jpg);
    background-position: center;
    background-size: cover;
}
.logo
{
    width: 150px;
    margin-top: 18px;
}
.header
{
    height: 10%;
}
.header-btn
{
    text-decoration: none !important;
    border-radius:50px;
    padding: 10px 30px;
    float:right;
    margin-top: 15px;
    color:white!important;
    background-color: #107afd;
    font-weight: 600;

}
.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
  }
  .input-group
  {
    margin-top: 15px;
    padding: 20px 30px;
  }
  p:hover
  {
    color: darkblue;
}
.navbar-brand
{
    border-color:white;

}

